@font-face {
    font-family: arial;
    src: url(./Merchant\ Copy\ Doublesize\ arial.ttf);
}

.mt30 {
    margin-top: 80px;
}

.mt-10 {
    margin-top: -10px;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.judul {
    text-align: center;
}

.row, .row1, .row2, .row3, .row4, .row5, .row6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc, .desc3, .desc6 {
    flex: 1;
}

.desc1, .desc4, .desc7 {
    flex: 0 0 10%;
}

.desc2, .desc5, .desc8 {
    flex: 0 0 20%;
}

.table table {
    border-style: solid;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.table th, .table td {
    border: 2px solid black;
}

.line {
    border-bottom: 4px solid;
}

.row5, .row6 {
    justify-content: space-between;
}

.desc13, .desc15 {
    flex-wrap: wrap ;
}

.desc14, .desc16 {
    flex-wrap: wrap;
}

@media (min-width: 2000px) {
    .row, .row1, .row2, .row3, .row4, .row5, .row6 {
        flex-direction: column;
        align-items: flex-start;
    }

    .desc, .desc1, .desc2, .desc3, .desc4, .desc5, .desc6, .desc7, .desc8, .desc9, .desc10, .desc11, .desc12 {
        margin: 5px 0;
    }

    .table table {
        font-size: 14px;
    }

    .desc13, .desc15 {
        margin-left: 0;
    }

    .desc14, .desc16 {
        margin-right: 0;
        align-self: flex-end;
    }
}
